
*,
*::before,
*::after {
    box-sizing: border-box;
}


nav {
    font-family: "Inter", sans-serif;
    background-color: pink; 
    padding: 0;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
}


nav ul li {
    text-align: center;
    position: relative;
}


nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 8px;
    color: black;
    transition: all 0.2s ease-in-out;
}


nav ul li a:hover {
    background-color: #87cefa;
    font-weight: bold;
}

nav ul li a.current {
    background-color: #6495ed;
    font-weight: bold;
}


@media screen and (min-width: 769px) {
    nav ul {
        flex-direction: row;       
        justify-content: space-evenly;
        gap: 1rem;         
    }

    nav ul li a {
        padding: 1rem 2rem;
    }


}